{% extends 'base.html' %}
{% load static %}

{% block title %} Login {% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static "css/authForms.css" %}">
{% endblock %}


{% block content %}

<div class="container content-container">


  {% if messages %}
  {% for message in messages %}
  <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}" alert-dismissible fade show role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}

  {% load crispy_forms_tags %}

  {% load socialaccount %}
  <h1>Sign In</h1>
  <p class="hint-text">Sign up with your social media account or email address</p>
  <div class="social-btn text-center justify-content-center">
    <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-primary btn-lg "><i
        class="fa fa-facebook"></i>Sign in with Facebook</a>
  </div>
  <div class="or-seperator"><b>or</b></div>
  <form method="post" class="from-group">
    {% csrf_token %}
    {{form|crispy}}
    <p>Don't have an account? Create one <a href="{% url 'register' %}">here</a></p>
    <input type="submit" value="Login">
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
{% endblock %}