{% extends 'base.html' %}
{% load static %}

{% block title %} register {% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static "css/authForms.css" %}">
{% endblock %}


{% block content %}

{% load crispy_forms_tags %}

{% load socialaccount %}

<div class="container content-container">
      <h1>Sign Up</h1>
		<p class="hint-text">Sign up with your social media account or email address</p>
		<div class="social-btn text-center justify-content-center">
			<a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-primary btn-lg "><i class="fa fa-facebook"></i>Sign up with Facebook</a>
    </div>
    <div class="social-btn text-center justify-content-center">
			<a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-lg "><i class="fa fa-google"></i>Sign up with Google</a>
    </div>
    
  

		<div class="or-seperator"><b>or</b></div>
      <form method="post" class="form-group" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Registeration">
      </form>
      <div class="text-center">Already have an account? <a href="{% url 'login' %}">Login here</a> </div>
</div>
{% endblock %}