body {
    font: 15px/1.7em "open sans", Arial, sams-serif;
}

a {
    outline: 0;
}

.side-donate {
    color: #3e3e3e;
    position: sticky;
    top: 2rem;
    box-shadow: 0 .3125rem 1rem -.1875rem rgba(0,0,0,.2);
    /* height: 100%; */
}

.total-donations {
    font-size: 2.3rem;

}

/* start progress bar */
.progress {
    width: 100%;
    height: 6px;
    margin-top: 0 !important;
}
.progress-wrap {
    background: #f80;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
}
.progress-wrap .progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
}

/* end progress bar */


.project-content {
    font-size: 2rem;

}

