{% extends 'base.html' %}

{% block title %} Case {% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "css/donation_form.css" %}">
{% endblock %}


{% block content %}
{% load crispy_forms_tags %}

{% if case %}
{% load mathfilters %}

{% if messages %}
{% for message in messages %}
{% if message.tags == "error" %}
{% else %}
<div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}" alert-dismissible fade show role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endfor %}
{% endif %}

<div class="container">
    <div class="row">


        <div style="position: relative;" id="content" class="col-md-8">
            <div class="row">

                <div>
                    <h1 class="project-title mb-5">{{ case.name }}</h1>
                </div>

                <div class="ml-auto">
                    <span style="display: inline;" id="current_rating">
                        {% if votes %}
                        {{ votes }}
                        {% else %}
                        0
                        {% endif %}
                    </span>

                </div>
            </div>
            <div class="text-secondary">
                <p class="project-content">{{ case.details|safe }}</p>
            </div>
            {% else %}
            <h5 class="text-secondary"> no case found matching your id </h5>
            {% endif %}
        </div>

        <div class="col-md-4">
            <div class="side-donate p-5">
                <div class="row">
                    <p><strong class="total-donations">
                            {% if case_donations %}{{ case_donations }}{% else %}0{% endif %}
                            EGP</strong>
                        raised of {{ case.total_target }} EGP</p>
                    <div class="progress-wrap progress"
                        data-progress-percent="{% with percent=case_donations|div:case.total_target %}{{ percent|mul:100 }}{% endwith %}">
                        <div class="progress-bar progress" style="border-radius: 0;"></div>
                    </div>
                </div>
                {% if case.total_target > case_donations %}
                <form action="{% url 'donation' case.id %}" method="post" id="payment-form">
                    {% csrf_token %}
                    <div class="form-row mb-2">
                        <input type="number" min="1" required class="form-control" name="amount"
                            placeholder="Enter donation amount">
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == "error" %}
                        <span class="error text-danger">{{ message }}</span>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-row">
                        <div id="card-element">
                            <!-- A Stripe Element will be inserted here. -->
                        </div>

                        <!-- Used to display form errors. -->
                        <div id="card-errors" class="error text-danger" role="alert"></div>
                    </div>

                    <button class="btn btn-block btn-success" id="donate-btn">
                        Donate
                    </button>
                </form>
                {% else %}
                {% endif %}
                <div class="row">
                    <p><strong>Convection date:</strong> {{ case.convection_date|date:"D, j F, Y" }}</p>
                </div>
                <div class="row">
                    <p><strong>Jail Time:</strong> {{ case.jail_time }}</p>
                </div>
                <div class="row">
                    <p><strong>Gender:</strong> {{ case.gender}}</p>
                </div>
                <div class="row">
                    <p><strong>Age:</strong> {{ case.age }}</p>
                </div>
                <div class="row">
                    <p><strong>Jail Name:</strong> {{ case.jail_name }}</p>
                </div>
                <div class="row">
                    <p><strong>Governorate:</strong> {{ case.governerate }}</p>
                </div>
                <div class="row">
                    <p><strong>Number of Dependents:</strong> {{ case.no_of_dependents}}</p>
                </div>
                <div class="form-row">
                    {% if voted %}
                        <button type="submit" class="btn btn-block btn-info voting">Voted</button>
                    {% else %}
                        <button type="submit" class="btn btn-block btn-primary voting">Vote</button>
                    {% endif %}
                </div>

                <div class="form-row row report">
                    {% if is_reported %}
                    <button type="submit" class="btn btn-success ml-1" disabled>reported!</button>
                    {% else %}
                    <form action="{% url 'report_case' case.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-block">report</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}

{% block script %}
<script>
    (function () {
        moveProgressBar();
        $(window).resize(function () {
            moveProgressBar();
        });

        // SIGNATURE PROGRESS
        function moveProgressBar() {
            console.log("moveProgressBar");
            var getPercent = ($('.progress-wrap').data('progress-percent') / 100);
            var getProgressWrapWidth = $('.progress-wrap').width();
            var progressTotal = getPercent * getProgressWrapWidth;
            var animationLength = 2500;

            // on page load, animate percentage bar to data percentage length
            // .stop() used to prevent animation queueing
            $('.progress-bar').stop().animate({
                left: progressTotal
            }, animationLength);
        }
    }())

</script>
<script>
    // Create a Stripe client.
    var stripe = Stripe('pk_test_51GsEMiDFwFxU8fy1PFGyPmnrPHyAUhVMhzzk3KdTlqyQOyxivs60clC7uP8T1qsOBG3jpPkqRwpBuLuyu3b76m6e00g5mTlKKz');

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', { style: style });

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.on('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Handle form submission.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
            }
        });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
    }

</script>

<script>
    $(document).ready(function(){
        $('.voting').click(function (e) {
            e.preventDefault();
            let caseId = {{case.id}};

            $.ajax({
                type: "post",
                dataType: "json",
                url: '{% url 'vote' %}',
                data: {'vote': 'voted', 'case_id': caseId,  csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data) {
                    if(data.status === "Voted"){
                        $('.voting').text("Voted");
                        $('.voting').removeClass("btn-primary")
                        $('.voting').addClass("btn-info")
                    }
                    else if (data.status === "Unvoted"){
                        $('.voting').text("Vote"); 
                        $('.voting').removeClass("btn-info")
                        $('.voting').addClass("btn-primary")
                    }
                },
                error: function (response) {
                   alert("Something went wrong with your voting");
                    
                }
            });
        });
    });
</script>

{% endblock %}