{% extends 'base.html' %}

{% block title %} Change password {% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container d-flex justify-content-center">
    <div class="col-7 ">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><b>Change password</b></div>
            <div class="panel-body">
                <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div style="text-align: center;">
                        <button type="submit" class="save btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}