<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,500,500i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "base/style.css" %}">
    <link rel="stylesheet" href="{% static "base/view-case.css" %}">
    <script src="https://js.stripe.com/v3/"></script>

    <title>{% block title %} Gharmoon {% endblock %}</title>
    {% block style %}{% endblock %}
    <style>
        .container {
            margin-top: 30px !important;
        }
    </style>
</head>

<body>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0&appId=3700629733341575&autoLogAppEvents=1" nonce="YXlwlTc2"></script>

    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="navbar-header d-flex col">
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" /></a>
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
                        class="navbar-toggle navbar-toggler ml-auto">
                        <span class="navbar-toggler-icon"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                {% if user.is_authenticated %}
                <!-- Collection of nav links, forms, and other content for toggling -->
                <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
                    <form id="searchForm" class="navbar-form form-inline" action="{% url 'search_cases' %}"
                        method="GET">
                        <div class="input-group search-box">
                            <input type="text" id="search" name="case_name" class="form-control"
                                placeholder="Search here...">
                            <button class="input-group-addon" id="searchBox" type="submit"><i class="fa fa-search"
                                    aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right ml-auto">
                        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link"><i
                                    class="fa fa-home"></i><span>Home</span></a></li>
                        <li class="nav-item"><a href="{% url 'show_cases' %}" class="nav-link"><i 
                                    class="fa fa-address-card"></i><span>Cases</span></a></li>
                        <li class="nav-item"><a href="{% url 'user_cases'  %}" class="nav-link"><i
                                    class="fa fa-gears"></i><span>My Cases</span></a>
                        </li>
                        <li class="nav-item"><a href="{% url 'advanced_search'  %}" class="nav-link"><i
                            class="fa fa-search"></i><span>Advanced Search</span></a>
                        </li>
                        <li class="nav-item"><a href="{% url 'user_donations'  %}" class="nav-link"><i
                                    class="fa fa-pie-chart"></i><span>Donations</span></a></li>
                        <!-- <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link"><i
                                class="fa fa-user"></i><span>Profile</span></a></li> -->
                        <li class="nav-item dropdown">
                            <a href="#" data-toggle="dropdown" class="nav-link  user-action">
                                {% if user.profile_picture %}
                                <img src="../..{{ user.profile_picture.url }}" class="avatar" alt="Avatar">
                                {% else %}
                                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="avatar"
                                    alt="Avatar">
                                {% endif %}
                                {{user.first_name}}
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'profile' %}" class="dropdown-item"><i class="fa fa-user-o"></i>
                                        Profile</a>
                                </li>
                                <li class="divider dropdown-divider"></li>
                                <li><a href="{% url 'logout' %}" class="dropdown-item"><i class="fa fa-sign-out"
                                            aria-hidden="true"></i>
                                        Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% else %}
                <a class="btn btn-outline-primary" href="{% url 'login' %}" role="button">
                    Login
                </a>
                <div style="padding-left: 10px;">
                    <a class="btn btn-outline-success" href="{% url 'register' %}" role="button">
                        Sign Up
                    </a>
                </div>
                {% endif %}
            </nav>
        </div>

    </header>



    {% block content %}{% endblock %}

    <div class="my-5">
        <div class="footer">
            <div class="footer-copyright text-center py-1">© 2020 Copyright:
                <a href="https://github.com/mostafaElkenany/gharmoon.git"> Gharmoon.com</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    {% block script %}{% endblock %}

</body>

</html>