{% extends 'base.html' %}
{% block title %} My Cases {% endblock %}
{% block style %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
    @import url('https://fonts.googleapis.com/css?family=Noto+Serif:400&text=%E2%80%9C%E2%80%9D%E2%80%98%E2%80%99');

    body {
        background-color: #4C4B52;

        /* opacity: 0.5; */
    }

    .container {
        opacity: 1;
    }

    h1 {
        font-family: 'Noto Serif', 'Open Sans Condensed', sans-serif;
        font-size: 3rem;
        color: #F48930;
        font-weight: 600;

    }

    /* font-family: 'Raleway', sans-serif; */
</style>
{% endblock %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}

<div class="container">

    <h1> Latest Cases </h1>

    <!-- Begin Case card -->
    <div class="row col-lg-12">

        {% for case in latest_cases %}
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card border-0 shadow mb-4">
                <!-- Card image -->
                <!-- Card content -->
                <div class="card-body border rounded-bottom">
                    <a href="{% url 'view_case' case.id %}" class="card-title">
                        {{case.name}}
                    </a>
                    <!-- <hr> -->
                    <!-- <div class="card-body"> -->
                    <p class="card-text">
                        {{ case.national_id }}
                    </p>
                    <hr>
                    <ul class="list-unstyled d-flex justify-content-between text-center">
                        <li class="pledged">
                            <p class="font-weight-bold text-dark body-info">Target</p>
                            <span class="amount">${{case.total_target}}</span>
                        </li>
                    </ul>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        {% empty %}
        <h2>Sorry, There are no cases yet</h2>
        {% endfor %}

    </div>
    <!-- End Case card -->
    <hr>
    <!-- Begin Highest voted Cases -->

    <h1>Highest Voted Cases</h1>

    <div class="row">


        {% for high_voted_case in high_voted_set %}
        {% for case in cases %}
        {% if case.id == high_voted_case.case_id %}



        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card border-0 shadow mb-4">
                <!-- Card image -->
                <!-- Card content -->
                <div class="card-body border rounded-bottom">
                    <a href="{% url 'view_case' case.id %}" class="card-title">
                        {{case.name}}
                    </a>
                    <!-- <hr> -->
                    <!-- <div class="card-body"> -->
                    <p class="card-text">
                        {{ case.national_id }}
                    </p>
                    <hr>
                    <ul class="list-unstyled d-flex justify-content-between text-center">
                        <li class="pledged">
                            <p class="font-weight-bold text-dark body-info">Target</p>
                            <span class="amount">${{case.total_target}}</span>
                        </li>
                    </ul>
                    <!-- </div> -->
                </div>
            </div>
        </div>

        {% endif %}
        {% endfor %}
        {% empty %}
        <h2>Sorry, There are no cases yet.</h2>
        {% endfor %}

        <!-- end highest voted cases -->


    </div>

    {% endblock %}